html, body, .wrap {
  background: #f0f0f1;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-top: 20px !important;
}

.icon-check,.icon-remove {
  display: none;
}

.boton-buscador {
  background: #d71920;
  font-size: 18px;
  color: #fff;
  border: 1px solid #d71920;;
  min-height: 49px;
  min-width: 49px;
  border-radius: 0 9px 9px 0;
  transition: all 0.5s ease-out !important;
  cursor: pointer;
  min-width: 200px;
}

.boton-buscador:hover {
  filter: brightness(0.9);
  transition: all 0.5s ease-in !important;
}

input:focus {
  border-color: rgba(0,0,0,.5);
}

button.boton-buscador:before {
  content: "\F52A";
  font-family: 'bootstrap-icons';
  padding-right: 7px;
  vertical-align: bottom;
}

span.input-group-addon.icon-check {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #e8f0ff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  border-left: none;
  border-right: none;
  color: #2ed67a;
}

span.input-group-addon.icon-remove {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: white;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  border-left: none;
  border-right: none;
  color: #f13d3d;
}

input#numeroAndreani {
  border-right: none;
  width: 100% !important;
}

input:-webkit-autofill, input:active, input:focus {
  background: white !important;
}

.alert-dismissible .close {
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.alert-dismissible .close:hover {
  transition: all 0.5s ease-out;
}

.alert {
  padding: 1rem 1.25rem;
}

.bg-dark {
  background-color: #58646d !important;
}

h4.alert-heading {
  word-break: break-all;
}

img.logo-andreani {
  filter: brightness(10) grayscale(1) contrast(10);
}

h4.alert-heading:before {
  content: "\F5EA";
  font-family: 'bootstrap-icons';
  font-weight: 600;
  padding-right: 7px;
  vertical-align: text-bottom;
  visibility: visible;
}

button.close {
  padding-top: 0px !important;
}

.alert {
  padding: 2rem !IMPORTANT;
}

@media (max-width:801px)  {
.row {
  flex-direction: column-reverse;
}
img.logo-andreani {
  max-width: 150px !important;
  float: left !important;
}
h1.display-4.pl-4, p.lead.pl-4 {
  padding: 1rem !important;
}
input#numeroAndreani {
  zoom: 90%;
 }
 .boton-buscador {
  min-width: 100px;
  font-size: 1rem !important;
 }
 .container {
  padding: 0px !important;
 }
 .jumbotron {
  border-radius: 0;
 }
}


/* loader animation */

#loader {
    width: 75px;
    height: 75px;
    border-top: 4px solid #d71920;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 15px auto;
    margin-top: 40px !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#cargando {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 0.8rem;
  color: #464a4e;
  font-family: inherit;
}

.form-control {
  color: #868e96;
}

input#fechaDesde {
  margin-left: 5px;
  margin-right: 5px;
}

h4.alert-heading.undefined {
  display: none;
}

h4.alert-heading.Entregado, h4.alert-heading.En.transito {
  visibility: hidden;
}

h4.alert-heading.Entregado:after, h4.alert-heading.En.transito:after {
  content: "Entregado";
  visibility: visible;
  display: block;
  margin-bottom: 20px;
  left: 0;
  margin-left: -100px;
}


h4.alert-heading.Entregado, h4.alert-heading.En.transito {
  visibility: hidden;
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-color: #96999c80;
}

.alert.alert-secondary.alert-dismissible.fade.show {
  box-shadow: 5px 5px 50px #3e454b63;
}

.alert {
  display: block !important;
}

tr td {
    max-height: 300px !important;
    min-height: 200px !important;
    height: 90px;
}

table.label-data tr td {
    height: 50px !important;
}

table {
    zoom: 90%;
    font-weight: 400;
}


@media (max-width: 640px) {
  .container {
    margin-top: 0px !important;
  }
  .col-2 {
      width: 22% !important;
      font-size: 0.75rem !important;
      padding-left: 5px;
  }
  .col-3 {
      max-width: 22% !important;
      font-size: 0.7rem !important;
      padding-left: 5px;
  }
  .col-4 {
      width: 38% !important;
      font-size: 0.75rem !important;
      padding-left: 5px;
  }
  .alert.alert-secondary.alert-dismissible.fade.show {
      margin: 0px 10px 0px 10px !important;
      padding: 5px !important;
      padding-top: 20px !important;
      margin-bottom: 20px !important;
      margin-top: -20px !important;
  }
  tr td {
      max-height: 300px !important;
      min-height: 200px !important;
      height: 90px;
      box-sizing: initial;
      white-space: normal;
      overflow-wrap: anywhere;
      text-overflow: ellipsis;
      overflow-y: scroll;
  }
}


